body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif; /*гарнитура (название шрифта)*/
  font-size: 14px; /*размер шрифта*/
  line-height: 26px; /*высота строки 1.238*/
  font-weight: normal; /*жирность шрифта*/
  color: rgb(51, 51, 51); /*цвет шрифта*/
  text-transform: uppercase;

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px; /*1.857*/
  color: rgb(0, 0, 0);
  font-weight: bold;

  background-color: rgb(255, 255, 255);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: rgb(51, 51, 51);
}
.site-navigation a:hover {
  color: rgb(129, 179, 210);
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

/*блок промо*/
.promo {
  background-color: rgb(105, 135, 165);
  background-image: url("../img/promo-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/*блок вступление*/
.ad {
  text-align: center;
}

.ad h2{
  font-size: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/*блок причины №1, 2*/
.background-blue {
  background-color: rgb(129, 179, 210);
  text-align: center;
}
.background-blue h3 {
  font-size: 21px;
  line-height: 21px; /*1*/
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.background-blue span,
.background-blue p {
  color: rgb(255, 255, 255);
}

/*блок жилье еда сувениры*/
.reason-list {
  list-style: none;
}

.reason-item {
  text-align: center;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 21px; /*1*/
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/*блок причины 3, 4, 5*/
.background-gray {
  background-color: rgb(238, 238, 238);
}

/*блок поиск*/
.search {
  text-align: center;
}
.search h2 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
.search a {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  vertical-align: middle;

  background-color: rgb(118, 99, 87);
  border: none;
}
.search a:hover {
  background-color: rgb(96, 78, 67);
}
.search a:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(80, 62, 51);
}

.search label{
  color: rgb(0, 0, 0);
  line-height: 1.857;
  font-weight: bold;
}

.search-data input[type="text"] {
  color: rgb(0, 0, 0);
  line-height: 1.857;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
}
.search-data input[type="text"]:hover{
  background-color: rgb(235, 235, 235);
}
.search-data input[type="text"]:focus{
  background-color: transparent;
  border: 2px solid rgb(229, 229, 229);
  outline: none;
}

.search-people-number input[type="text"] {
  color: rgb(0, 0, 0);
  line-height: 1.857;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
  outline: none;
}

.button {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  vertical-align: middle;
  line-height: 1.2;

  background-color: rgb(129, 179, 210);
  border: none;
}
.button:hover{
  background-color: rgb(102, 158, 192);
}
.button:active{
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(84, 150, 189);
}

/*подвал*/
.main-footer {
  color: rgb(0, 0, 0);
}

.hashtag {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: rgb(255, 255, 255);
}

.footer-copyright {
  text-align: center;
}
.footer-copyright a {
  color: rgb(0, 0, 0);
}


/*стр. каталог блок фильтры*/
.site-navigation-active a {
  color: rgb(118, 99, 87);
}

.site-navigation-active a:hover,
.site-navigation-active a:focus,
.site-navigation-active a:active {
  color: rgb(118, 99, 87);
}

.filters {
  color: rgb(255, 255, 255);

  background-color: rgb(105, 135, 165);
  background-image: url("../img/filters-background.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 1.313;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  line-height: 21px;
}

.filter-button {
  color: rgb(255, 255, 255);
  line-height: 1.5;
  background-color: transparent;
  border: 2px solid rgb(229, 229, 229);
  text-transform: uppercase;
  outline: none;
}
.filter-button:hover {
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
}

.price-controls input[type="text"] {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
}
.price-controls {
  border: 2px solid rgb(255, 255, 255);
}

.result h2 {
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.result h3 {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
}

.sorting {
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
}
.sorting-price {
  color: rgb(129, 179, 210);
}
.sorting-type-rating {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 0.8px dashed rgb(129, 179, 210);
}
.sorting-type-rating:hover {
  text-decoration: none;
  color: rgb(129, 179, 210);
  border-bottom: 0.8px dashed rgb(129, 179, 210);
}
.sorting-type-rating:active {
  color: rgb(0, 0, 0);
  border-bottom: none;
}
.button-detailed-hotel {
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  vertical-align: middle;

  background-color: rgb(129, 179, 210);
  border: none;
}
.button-detailed-hotel:hover{
  background-color: rgb(102, 158, 192);
}
.button-detailed-hotel:active{
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(84, 150, 189);
}

.button-booking-hotel {
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  vertical-align: middle;

  background-color: rgb(118, 99, 87);
  border: none;
}
.button-booking-hotel:hover {
  background-color: rgb(96, 78, 67);
}
.button-booking-hotel:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(80, 62, 51);
}
.housing-type,
.housing-cost {
  line-height: 1.5;
}
.hotel-name a {
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.hotel-name a:hover{
  color: rgb(129, 179, 210);
}
.hotel-name a:active {
  color: rgba(0, 0, 0, 0.302);
}
.rating-points {
  background-color: rgb(242, 242, 242);
}
