*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: rgb(51, 51, 51);
  text-transform: uppercase;

  background-color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px; /*1.857*/
  color: rgb(0, 0, 0);
  font-weight: bold;

  background-color: rgb(255, 255, 255);
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: rgb(51, 51, 51);
}
.site-navigation a:hover {
  color: rgb(129, 179, 210);
}
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

html,
body {
  min-width: 1280px; /* надо? */
}
.main-container {
  width: 1200px;
  margin: 0 auto;
}
/*
.main-navigation {
  padding: 0px 72px 0px 72px;
}*/
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 1200px;
  min-height: 56px;

  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation li {
  width: 20%;
}
li:nth-child(1),
li:nth-child(2) {
  text-align: left;
  padding-left: 72px;
}
li:nth-child(2) {
  margin-right: auto;
}
li:nth-child(3),
li:nth-child(4) {
    text-align: right;
    padding-right: 72px;
}

.main-header {
  position: relative;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 530px;
}

/*блок промо*/
.promo {
  min-height: 509px;
  background-color: rgb(105, 135, 165);
  background-image: url("../img/promo-mask.png"), url("../img/promo-background.jpg");
  background-position: left bottom, 50% 22%;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 80px;
}


/*блок вступление*/
.ad {
  text-align: center;
  min-height: 215px;
}

.ad h2{
  font-size: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px; /*margin-bottom: 35px;*/
  margin-left: auto;

  padding: 55px 380px 25px 380px;
}

.ad p {
  margin: 0px;
  padding-bottom: 55px;
}

/*блок причины №1, 2*/
.background-blue,
.background-blue-2 {
  background-color: rgb(129, 179, 210);
  text-align: center;
}
.background-blue h3,
.background-blue-2 h3{
  font-size: 21px;
  line-height: 26px; /*1*/
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.background-blue span,
.background-blue-2 span,
.background-blue p,
.background-blue-2 p {
  color: rgb(255, 255, 255);
}

.background-blue {
  width: 400px;
  min-height: 256px;
  margin: 0px;
  padding: 45px 59px 15px 59px; /*padding: 45px 59px 65px 59px;*/
}
.background-blue-2 {
  min-height: 256px;
  width: 400px;
  margin: 0px;
  padding: 49px 49px 15px 49px; /*49px 49px 65px 49px;*/
}
.background-blue h3 {
  margin: 0 auto;
  padding: 0px 80px 20px 80px;
}
.background-blue-2 h3{
  margin: 0 auto;
  padding: 0px 75px 20px 75px;
}
.background-blue p {
  margin-bottom: 25px;
}

.reason-image-town {
  background-image: url("../img/reason-real-town.jpg");
  width: 800px;
  min-height: 256px;
  background-position: 50% 55%;
}

.reason-image-bridge {
  background-image: url("../img/reason-devil-ridge.jpg");
  width: 800px;
  min-height: 256px;
  background-position: 50% 55%;
  order: -1;
}

.reason {
  display: flex;
  min-height: 256px;
  flex-direction: row;
}

/*блок жилье еда сувениры*/
.reason-list {
display: flex;
flex-direction: row;
margin: 0;
padding: 0;

list-style: none;
}
.reason-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0 auto;

}
.reason-list li {
  text-align: center;

  width: 400px;
  min-height: 330px;
  margin: 0px;
}
.reason-item-1 {
  padding: 59px 74px 15px 74px; /*59px 74px 88px 74px*/
}
.reason-item-2 {
  padding: 61px 58px 15px 55px; /*61px 58px 88px 55px*/
}
.reason-item-3 {
  padding: 56px 60px 15px 60px;/*56px 60px 88px 60px*/
}
.reason-item-4 {
  padding: 48px 96px 15px 96px;/*48px 96px 63px 96px*/
}
.reason-item-5 {
  padding: 48px 68px 15px 68px;/*48px 68px 88px 68px*/
}
.reason-item-1 h3,
.reason-item-2 h3,
.reason-item-3 h3 {
  padding-top: 20px;
}
.reason-item-4 h3 {
  padding: 0px 45px 20px 45px;
}
.reason-item-5 h3,
.reason-item-6 h3  {
  padding: 0px 83px 20px 83px;
}
.reason-item-6 {
  padding: 48px 70px 15px 70px; /*48px 70px 88px 70px*/
}

/*блок причины 3, 4, 5*/
.background-gray {
  background-color: rgb(238, 238, 238);
}

/*блок поиск*/
.search {
  text-align: center;
}
.search h2 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin-top: 55;
  margin-bottom: 30px;
}

.search a {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  vertical-align: middle;

  background-color: rgb(118, 99, 87);
  border: none;
  padding: 30px 135px 30px 135px;

}
.search a:hover {
  background-color: rgb(96, 78, 67);
}
.search a:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(80, 62, 51);
}
.search-manual {
  margin-bottom: 50px;
}
.search label{
  color: rgb(0, 0, 0);
  line-height: 1.857;
  font-weight: bold;
  padding-right: 20px;
}

.search-data input[type="text"] {
  color: rgb(0, 0, 0);
  line-height: 1.857;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;

  box-sizing: border-box;
  width: 347px;
  padding: 14px 215px 14px 12px;

  background-image: url("../img/calendar.svg");
  background-position: 316px center;
  background-repeat: no-repeat;
}
.search-data input[type="text"]:hover{
  background-color: rgb(235, 235, 235);
}
.search-data input[type="text"]:focus{
  background-color: transparent;
  border: 2px solid rgb(229, 229, 229);
  outline: none;
}

.search-people-number input[type="text"],
.quantity-children input[type="text"] {
  color: rgb(0, 0, 0);
  line-height: 1.857;
  font-weight: bold;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
  outline: none;

  width: 38px;
  text-align: center;
  padding: 14px 15px 14px 15px;
  /*padding: 14px 25px 14px 25px;*/
  margin: 0px 0px 55px 0px;
}

.search form {
  background-color: rgb(255, 255, 255);
  height: 396px;
  width: 669px;
  padding: 56px;
  margin: auto;
}

.button {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  vertical-align: middle;
  line-height: 26px;
  padding: 17px 195px 20px 195px;
  text-transform: uppercase;

  background-color: rgb(129, 179, 210);
  border: none;
}
.button:hover{
  background-color: rgb(102, 158, 192);
}
.button:active{
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(84, 150, 189);
}


/*подвал*/
.main-footer {
  color: rgb(0, 0, 0);
  padding: 35px 100px 35px 130px;
  min-height: 120px; 
}
.main-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hashtag {
  width: 150px;
  margin: 0;
  margin-right: 245px;
}
.hashtag a {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
}

.footer-social {
  text-align: center;
  width: 165px;
}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: rgb(129, 179, 210);
 }

.social-button:hover {
  background-color: rgb(102, 158, 192);
}
.social-button:active {
  background-color: rgb(84, 150, 189);
}
.social-button:active path {
  fill: rgb(136, 182, 209);
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  margin: 0;
  margin-left: auto;
}
.footer-copyright b {
 font-weight: normal;
 width: 75px;

}
.footer-copyright a {
  width: 115px;
  margin-right: 0;
}
.footer-copyright a:hover path {
  fill: rgb(129, 179, 210);
}
.footer-copyright a:active path {
  fill: rgb(189, 187, 188);
}

/*стр. каталог блок фильтры*/
.site-navigation-active a {
  color: rgb(118, 99, 87);
}
.site-navigation-active a:hover,
.site-navigation-active a:focus,
.site-navigation-active a:active {
  color: rgb(118, 99, 87);
}

.filters {
  color: rgb(255, 255, 255);

  background-color: rgb(105, 135, 165);
  background-image: url("../img/filters-background.jpg");
  min-height: 217px;
  background-position: 0% 10%;
  background-repeat: no-repeat;
}
.filters fieldset {
  width: 145px;
}

.filter {
  display: flex;
  padding: 30px 73px;
  justify-content: space-between;
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 16px;
  line-height: 1.313;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  line-height: 21px;
}

/* стоимость в сутки */
 .range-filter {
 width: 330px;
 margin-left: auto;
 /* margin: 30px auto; */

 color: rgb(255, 255, 255);
 text-transform: uppercase;
}
.range-filter-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 160px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.filter-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}
.filter-button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

/* фильтр результат */
.result {
  display: flex;
  height: 88px;
  padding: 30px 73px 34px 73px;
}
.sorting {
  list-style: none;
  font-size: 12px;
  line-height: 1.5;

  display: flex;
  width: 245px;
  justify-content:space-between;
  margin: 0;
  padding-top: 10px;

  padding-bottom: 5px;

}
.result h2 {
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0;
}
.result h3 {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  margin: 0;
  padding: 10px 35px 5px 50px;
}
/*
.icon-wrapper {
  padding: 10px 0px 5px 154px;
}

.icon-wrapper-down {
  padding: 10px 0px 5px 12px;
}
.icon-wrapper-up {
  padding: 10px auto 5px px;
}
*/
.icon-wrapper-up path {
  fill: rgb(202, 202, 202);
}
.icon-wrapper-down path {
  fill: rgb(129, 179, 210);
}

.icon-wrapper-up :hover path,
.icon-wrapper-down :hover path {
  fill: rgb(0, 0, 0);
}
.icon-wrapper-up:active path,
.icon-wrapper-down:active path {
  fill: rgb(129, 179, 210);
}

.hotel-info {
  display: flex;

  min-height: 150px;
  margin: 20px 73px;

}
.hotel-wrapper {
  display: flex;
  flex-direction:column;
  align-items: flex-start;

  padding: 10px 6px 0px 30px;

}
.booking-wrapper {
  display: flex;
  flex-direction:column;
  align-items: flex-start;

  padding-top: 10px;
}
.hotel-name {
  margin: 0;

}

.sorting-price {
  color: rgb(129, 179, 210);
}
.sorting-type-rating {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 0.8px dashed rgb(129, 179, 210);
}
.sorting-type-rating:hover {
  text-decoration: none;
  color: rgb(129, 179, 210);
  border-bottom: 0.8px dashed rgb(129, 179, 210);
}
.sorting-type-rating:active {
  color: rgb(0, 0, 0);
  border-bottom: none;
}
.button-detailed-hotel {
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  vertical-align: middle;

  background-color: rgb(129, 179, 210);
  border: none;
  padding: 8px 17px;
}
.button-detailed-hotel:hover{
  background-color: rgb(102, 158, 192);
}
.button-detailed-hotel:active{
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(84, 150, 189);
}

.button-booking-hotel {
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  vertical-align: middle;

  background-color: rgb(118, 99, 87);
  border: none;

  padding: 8px 15px;
}
.button-booking-hotel:hover {
  background-color: rgb(96, 78, 67);
}
.button-booking-hotel:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: rgb(80, 62, 51);
}
.housing-type,
.housing-cost {
  line-height: 1.5;
}
.hotel-name a {
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.hotel-name a:hover {
  color: rgb(129, 179, 210);
}
.hotel-name a:active {
  color: rgba(0, 0, 0, 0.302);
}
.rating-points {
  background-color: rgb(242, 242, 242);
  padding: 5px 10px;
}
.rating {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
}
.star {
  padding-bottom: 33px;
}
.housing-cost,
.housing-type {
  padding-bottom: 10px;
}
.hotel-photo {
  order: -1;
}
